
.vs/ProyectoFinal/FileContentIndex/badd47c8-7fc8-4134-8100-5f57d584fb52.vsidx
.vs/ProyectoFinal/FileContentIndex/read.lock
.vs/ProyectoFinal/v17/.suo
.vs/ProyectoFinal/v17/Browse.VC.db
.vs/ProyectoFinal/v17/Browse.VC.db-shm
.vs/ProyectoFinal/v17/Browse.VC.db-wal
.vs/ProyectoFinal/v17/Browse.VC.opendb
.vs/ProyectoFinal/v17/ipch/AutoPCH/2374b0ce1b907275/MAINPRUEBA.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/d368717b6412d54d/MAINPRUEBA.ipch
.vs/ProyectoFinal/FileContentIndex/ac456c73-1539-4c62-9016-8b793c6aa1bd.vsidx
.vs/ProyectoFinal/v17/DocumentLayout.json
.vs/ProyectoFinal/v17/ipch/AutoPCH/1b81635fd1a9808e/318126218_PROYECTOFINAL_GPO08.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/798f1310323783cf/318126218_PROYECTOFINAL_GPO08.ipch
.vs/ProyectoFinal/FileContentIndex/095bd41d-b615-4717-98a2-4071f5f2e800.vsidx
.vs/ProyectoFinal/FileContentIndex/d41e404b-264a-4cf1-9a25-5aa30e7c04e9.vsidx
.vs/ProyectoFinal/FileContentIndex/60caad17-deef-431b-a94d-4fee997d75b8.vsidx
.vs/ProyectoFinal/FileContentIndex/6308e31b-2b45-4755-a7ea-46c5e154ea65.vsidx
.vs/ProyectoFinal/FileContentIndex/6308e31b-2b45-4755-a7ea-46c5e154ea65.vsidx
.vs/ProyectoFinal/FileContentIndex/f115e99d-e253-460c-82b7-1be815f546ff.vsidx
.vs/ProyectoFinal/FileContentIndex/6308e31b-2b45-4755-a7ea-46c5e154ea65.vsidx
.vs/ProyectoFinal/FileContentIndex/fc0b7086-9170-4189-bb72-eeb7b4679f91.vsidx
.vs/ProyectoFinal/FileContentIndex/756ac953-20a3-46ff-bf09-e6206e68ba16.vsidx
.vs/ProyectoFinal/FileContentIndex/4729b8df-7c0a-4c1b-ba3b-e79d0fa27414.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/ed0067720de1672c/318126218_PROYECTOFINAL_GPO08.ipch
.vs/ProyectoFinal/v17/ipch/AutoPCH/af1bcc8355be71d/318126218_PROYECTOFINAL_GPO08.ipch
.vs/ProyectoFinal/FileContentIndex/3716c2b7-2e33-47ac-a3a7-5c2eef45fbca.vsidx
.vs/ProyectoFinal/FileContentIndex/4297534d-18ad-473d-a3f6-efc04470afc8.vsidx
.vs/ProyectoFinal/FileContentIndex/7c474d29-4337-4042-8645-6dce04a2ef6d.vsidx
.vs/ProyectoFinal/FileContentIndex/b9049155-a0d5-4bb4-b780-d3d4dc09db3f.vsidx
.vs/ProyectoFinal/FileContentIndex/a9c738bb-dac3-4597-8094-bd9ff03c422d.vsidx
.vs/ProyectoFinal/FileContentIndex/f4f04c83-c4be-4703-a572-915178207f58.vsidx
.vs/ProyectoFinal/FileContentIndex/2bbfb474-875c-4ab4-8d56-d2334cbda23b.vsidx
.vs/ProyectoFinal/FileContentIndex/1b43ffb2-1be0-4a72-9201-61dd06b9f98f.vsidx
.vs/ProyectoFinal/FileContentIndex/1b43ffb2-1be0-4a72-9201-61dd06b9f98f.vsidx
.vs/ProyectoFinal/FileContentIndex/497d46db-d525-4998-9244-08c0df80bb1b.vsidx
.vs/ProyectoFinal/FileContentIndex/8f794e73-f3a4-4fa1-ab32-cffbc3edabc6.vsidx
.vs/ProyectoFinal/FileContentIndex/ac761998-5cfc-4dda-9b0f-d3fbb96d4aa1.vsidx
.vs/ProyectoFinal/FileContentIndex/e84a7208-75d6-4225-ab4f-c24ecd5eb928.vsidx
.vs/ProyectoFinal/FileContentIndex/188c5579-d88e-4061-be13-65e6a3d7b182.vsidx
.vs/ProyectoFinal/FileContentIndex/188c5579-d88e-4061-be13-65e6a3d7b182.vsidx
.vs/ProyectoFinal/FileContentIndex/896be5c1-24e9-4a3e-9ce1-0c2e73c095a4.vsidx
.vs/ProyectoFinal/FileContentIndex/188c5579-d88e-4061-be13-65e6a3d7b182.vsidx
.vs/ProyectoFinal/FileContentIndex/8cda032d-8e87-4ec5-ab36-01f9d4d0f57e.vsidx
.vs/ProyectoFinal/FileContentIndex/98d36350-8a2a-45ce-89f3-19d1dc516466.vsidx
.vs/ProyectoFinal/v17/ipch/AutoPCH/481e49e2467e2236/318126218_PROYECTOFINAL_GPO08.ipch
.vs/ProyectoFinal/FileContentIndex/4141f630-884e-4aa5-bed6-7b899ec4670e.vsidx
.vs/ProyectoFinal/FileContentIndex/4f867a78-87a3-44fa-9e14-1f145b0bb9e9.vsidx
